{% extends 'base.html' %}
{% load static %}
{% block content %}
    <html>
        <head>
           <script>
                function call_counter(url) {
                    window.open(url);
                }
            </script>
        </head>
        <body>
            <div style="text-align : center;">
                
                [추천 운동 코스]<br><br>
                
                <div class="row">
                <div class="card" style="width: 18rem;">
                    <center>
                    <img src="{% static '111.png' %}"  class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title" style="color:darkorange;" >초급 코스</h5>
                      <p class="card-text" style="color:navy">스쿼트 10, 푸쉬업 15</p><br>
                                           
                      <button  type="button" class="btn btn-outline-success" onclick="call_counter('http://127.0.0.1:8000/video_input/video_stream/Beginner');">
                        초급 코스 start!
                        </button><br><br>
                    </div>
                     </center>
                </div>
            
                


                
                    <div class="card" style="width: 18rem;">
                        <center>
                        <img src="{% static '222.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title" style="color:darkorange;" >중급 코스</h5>
                          <p class="card-text" style="color:navy">스쿼트 15, 푸쉬업 20, 런지 10 </p><br>
                          
                          <button type="button" class="btn btn-outline-success" onclick="call_counter('http://127.0.0.1:8000/video_input/video_stream/Intermediate');">
                            중급 코스 start!
                            </button><br><br>
                        </div>
                         </center>
                    </div>
                


                
                
                        <div class="card" style="width: 18rem;">
                            <center>
                            <img src="{% static '333.png' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title" style="color:darkorange;" >상급 코스</h5>
                              <p class="card-text" style="color:navy">스쿼트 25,푸쉬업 15,<br/>런지 10, 브릿지10</p>
                              
                              <button type="button" class="btn btn-outline-success" onclick="call_counter('http://127.0.0.1:8000/video_input/video_stream/Premium');">
                              상급 코스 start!
                                </button><br><br>
                            </div>
                             </center>
                        </div>
                    
            </div>
            </div>
        </body>
    </html>
{% endblock %}